---
import type { HTMLAttributes } from 'astro/types';
import type { VariantProps } from 'class-variance-authority';
import type { WithAttributes } from '@/types';
import { cn } from '@/scripts/cn';
import { tagVariants } from '@/styles/tagVariants';

interface ArticleTagProps extends HTMLAttributes<'div'> {}

type Props = WithAttributes<ArticleTagProps & VariantProps<typeof tagVariants>>;

const { class: className, color = 'gray', ...props } = Astro.props;
---

<span {...props} class={cn(tagVariants({ color }), className)}><slot /></span>
