---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';
import { cn } from '@/scripts/cn';
import EventDate from '@/components/EventDate.astro';
import { getTranslations } from '@/scripts/translations';
import ArticleTag from './ArticleTag.astro';

interface ArticleEventDetailsProps extends HTMLAttributes<'div'> {
  date: string;
}

type Props = ArticleEventDetailsProps;

const { class: className, date, ...props } = Astro.props;
const TRANSLATIONS = getTranslations();
---

<script>
  const labels = document.querySelectorAll<HTMLSpanElement>(
    '.article-event-details .article-card-past-event-label'
  );
  const showLabel = (el: HTMLElement) => {
    el.ariaHidden = 'false';
  };

  for (const label of labels) {
    const { date } = label.dataset;
    if (!date) continue;
    const eventDate = new Date(date).setHours(23, 59, 59);
    const now = new Date().getTime();
    const isPast = now - eventDate <= 0;
    if (!isPast) {
      showLabel(label);
    }
  }
</script>

<div {...props} class={cn('article-event-details', className)}>
  <ArticleTag
    color="destructive"
    data-date={date}
    aria-hidden="true"
    class="article-card-past-event-label absolute right-4 top-4 flex items-center gap-0.5 aria-hidden:invisible sm:right-5 sm:top-5"
  >
    <Icon name="clock-countdown" class="text-lg text-sw-fire-500" />
    {TRANSLATIONS.pastEvent}
  </ArticleTag>
  <EventDate
    date={date}
    class="absolute bottom-4 left-4 sm:bottom-6 sm:left-6"
  />
</div>
