---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/scripts/cn';
import { buildCanonicalUrl } from '@/scripts/buildCanonicalUrl';

type SharingProps = {
  sharer: string;
  title: string;
  url: string;
  itemClass?: string;
}[];

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
const canonical = buildCanonicalUrl();

const sharingLinks: SharingProps = [
  {
    sharer: 'twitter',
    title: 'Twitter',
    url: canonical,
  },
  {
    sharer: 'whatsapp',
    title: 'WhatsApp',
    url: canonical,
  },
  {
    sharer: 'linkedin',
    title: 'Linkedin',
    url: canonical,
  },
  {
    sharer: 'files',
    title: 'Email',
    url: canonical,
    itemClass: 'copy-link',
  },
  {
    sharer: 'email',
    title: 'Email',
    url: canonical,
  },
];
---

<script>
  import 'sharer.js/sharer.min';

  document.querySelector('.copy-link')?.addEventListener('click', () => {
    const url = document.location.href;

    if (window.isSecureContext) {
      navigator.clipboard.writeText(url);
    }
  });
</script>
<div
  {...props}
  class={cn('sharing', 'flex flex-wrap items-center gap-3.5', className)}
>
  {
    sharingLinks.map(({ sharer, title, url, itemClass }) => (
      <button
        type="button"
        data-sharer={sharer}
        data-title={title}
        data-url={url}
        class={cn(
          'flex size-11 shrink-0 items-center justify-center rounded-full border border-sw-gray-400 transition-colors hover:border-sw-sky-400 hover:text-sw-sky-400',
          itemClass
        )}
      >
        <Icon name={sharer} class="size-5" />
      </button>
    ))
  }
</div>
