---
import type { HTMLAttributes } from 'astro/types';
import type { UnparsedImage } from '@/scripts/data-parsers/parseImage';
import type { UnparsedLink } from '@/scripts/data-parsers/parseLink';
import { cn } from '@/scripts/cn';
import type { WithAttributes } from '@/types';
import { getDefaultTopImage } from '@/scripts/postTypeOptions';
import type { ContentTypeWithFront } from '@/scripts/postTypeOptions';
import WordpressImage from './WordpressImage.astro';

type Props = WithAttributes<ArticleCardProps>;
interface ArticleCardProps extends HTMLAttributes<'div'> {
  image?: UnparsedImage;
  // TODO: use string here instead of UnparsedLink
  link?: UnparsedLink;
  postType?: ContentTypeWithFront;
}

// TODO: use this inside ColoredImageCards
const { image, link, postType, class: className, ...props } = Astro.props;
const topImage = image || (postType ? getDefaultTopImage(postType) : undefined);
const Tag = link ? 'a' : 'div';
---

<Tag
  {...props}
  href={link ? link.url : undefined}
  target={link ? link.target : undefined}
  class={cn(
    'article-card',
    'flex flex-col overflow-hidden rounded-lg border border-sw-border shadow-button-secondary',
    className
  )}
>
  <div class="image-container relative">
    <WordpressImage
      data={topImage}
      preferredWidth={586}
      class="aspect-[16/9] object-cover sm:aspect-[28/19]"
    />
    <slot name="image-addition" />
  </div>
  <div
    class={cn(
      'content-container flex flex-1 flex-col gap-4 bg-white p-6 lg:max-xl:p-4',
      { 'transition-colors hover:bg-sw-surface-subdued': !!link }
    )}
  >
    <slot />
  </div>
</Tag>
