---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/scripts/cn';

type Props = {
  /** @default true */
  withMargin?: boolean;
} & HTMLAttributes<'div'>;

const { withMargin = true, class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={cn(
    'button-container',
    'flex justify-start md:justify-center items-center gap-2',
    { 'mt-8 md:mt-15': withMargin },
    className
  )}
>
  <slot />
</div>
