---
import type { HTMLAttributes } from 'astro/types';
import type { UnparsedImage } from '@/scripts/data-parsers/parseImage';
import { cn } from '@/scripts/cn';
import type { WithAttributes } from '@/types';
import WordpressImage from './WordpressImage.astro';
import Card from './ui/Card.astro';
import Grid from './ui/Grid.astro';

type Props = WithAttributes<
  {
    image?: UnparsedImage;
    preferContentHeight?: boolean;
    widerCard?: boolean;
  } & HTMLAttributes<'div'>
>;

const {
  class: className,
  image,
  preferContentHeight = false,
  widerCard = false,
  ...props
} = Astro.props;
---

<Grid {...props} class={cn('card-with-big-image items-center', className)}>
  <Card
    class={cn(
      'content-column relative z-[1] col-span-full flex h-fit flex-col md:col-start-1 md:col-end-8 md:row-span-full md:my-24 lg:col-end-6',
      { 'lg:col-end-8': widerCard }
    )}
  >
    <slot />
  </Card>
  <div
    class={cn(
      'image-column col-start-2 col-end-[-1] hidden md:col-start-4 md:col-end-13 md:row-span-full md:block lg:col-start-5',
      { 'md:relative': preferContentHeight }
    )}
  >
    <WordpressImage
      data={image}
      preferredWidth={1000}
      class={cn(
        'h-full w-full rounded-lg border border-sw-gray-400 object-cover',
        {
          'md:absolute md:left-0 md:top-0 md:size-full': preferContentHeight,
        }
      )}
    />
  </div>
</Grid>
