---
import type { HTMLAttributes } from 'astro/types';
import type { UnparsedImage } from '@/scripts/data-parsers/parseImage';
import { cn } from '@/scripts/cn';
import type { WithAttributes } from '@/types';
import WordpressImage from './WordpressImage.astro';
import Card from './ui/Card.astro';
import Grid from './ui/Grid.astro';

type Props = WithAttributes<
  {
    image?: UnparsedImage;
    preferContentHeight?: boolean;
    widerCard?: boolean;
  } & HTMLAttributes<'div'>
>;

const {
  class: className,
  image,
  preferContentHeight = false,
  widerCard = false,
  ...props
} = Astro.props;
---

<Grid {...props} class={cn('card-with-big-image items-center', className)}>
  <Card
    class={cn(
      'content-column flex flex-col col-span-full md:col-start-1 md:col-end-8 lg:col-end-6 md:row-span-full relative z-[1] md:my-24 h-fit',
      { 'lg:col-end-8': widerCard }
    )}
  >
    <slot />
  </Card>
  <div
    class={cn(
      'hidden md:block image-column col-start-2 col-end-[-1] md:col-start-4 lg:col-start-5 md:col-end-13 md:row-span-full',
      { 'md:relative': preferContentHeight }
    )}
  >
    <WordpressImage
      data={image}
      preferredWidth={1000}
      class={cn(
        'w-full h-full object-cover rounded-lg border border-sw-gray-400',
        {
          'md:absolute md:size-full md:left-0 md:top-0': preferContentHeight,
        }
      )}
    />
  </div>
</Grid>
