---
import { linkShouldRender } from '@/scripts/data-parsers/parseLink';
import type { UnparsedLink } from '@/scripts/data-parsers/parseLink';
import { cn } from '@/scripts/cn';
import type { UnparsedImage } from '@/scripts/data-parsers/parseImage';
import Grid from './ui/Grid.astro';
import Card from './ui/Card.astro';
import WordpressImage from './WordpressImage.astro';
import Prose from './ui/Prose.astro';
import WordpressButtonLink from './WordpressButtonLink.astro';

interface Props {
  cards: {
    imageBackgroundColor?: string;
    fillImage?: boolean;
    title?: string;
    content?: string;
    image?: UnparsedImage;
    button?: UnparsedLink;
  }[];
}

const { cards } = Astro.props;
---

{
  cards.length > 0 ? (
    <Grid>
      {cards.map((card) => {
        const imageBackgroundColor = card?.imageBackgroundColor ?? 'white';
        const title = card?.title ?? '';
        const fillImage = card.fillImage ?? false;

        return (
          <div class="col-span-full flex items-stretch md:col-span-6 lg:col-span-4">
            <Card
              class={cn(
                'card-with-image flex w-full flex-col overflow-hidden p-0'
              )}
            >
              <div
                style={{
                  '--bg-color': imageBackgroundColor,
                }}
                class={cn('image-container bg-[--bg-color] p-8', {
                  'p-0': fillImage,
                })}
              >
                <WordpressImage
                  data={card?.image}
                  preferredWidth={700}
                  class="mx-auto w-full md:aspect-[420/337]"
                />
              </div>
              <div class="content-container flex flex-1 flex-col gap-3 p-6">
                <h3 class="typography-h4" set:html={title} />

                <Prose set:html={card?.content} />

                {linkShouldRender(card?.button) && (
                  <div class="mt-auto">
                    <WordpressButtonLink data={card?.button} arrow />
                  </div>
                )}
              </div>
            </Card>
          </div>
        );
      })}
    </Grid>
  ) : null
}
