---
import type { UnparsedImage } from '@/scripts/data-parsers/parseImage';
import { linkShouldRender } from '@/scripts/data-parsers/parseLink';
import type { UnparsedLink } from '@/scripts/data-parsers/parseLink';
import Grid from './ui/Grid.astro';
import WordpressButtonLink from './WordpressButtonLink.astro';
import WordpressImage from './WordpressImage.astro';

type Props = {
  title?: string;
  button?: UnparsedLink;
  image?: UnparsedImage;
};

const { title, button, image } = Astro.props;
---

<Grid
  class="grid-cols-1 gap-8 rounded-lg bg-sw-sea-500 p-6 md:grid-cols-12 md:gap-5 md:p-14"
>
  <div class="contents lg:col-span-6 lg:block">
    <h2
      class="typography-h3 col-span-full text-white md:text-5xl md:font-bold md:leading-tight"
      set:html={title}
    />
    {
      linkShouldRender(button) && (
        <div class="order-3 col-span-full mt-2 lg:order-none lg:mt-4">
          <WordpressButtonLink data={button} />
        </div>
      )
    }
  </div>
  <div
    class="order-2 col-span-full flex items-center justify-center lg:order-none lg:col-span-6"
  >
    <WordpressImage data={image} />
  </div>
</Grid>
