---
import type { HTMLAttributes } from 'astro/types';
import { getStore } from '../scripts/store';
import { languageStore } from '../stores/languageStore';
import { cn } from '../scripts/cn';

interface EventDateProps extends HTMLAttributes<'div'> {
  date: string;
}

type Props = EventDateProps;

const { class: className, date, ...props } = Astro.props;
const { currentLanguage } = getStore(languageStore);
const lang = currentLanguage.code;

const parsedDate = new Date(date);
const day = parsedDate.toLocaleDateString(lang, { day: '2-digit' });
const month = parsedDate.toLocaleDateString(lang, { month: 'short' });
---

<time
  {...props}
  datetime={date}
  class={cn(
    'flex flex-col items-center justify-center rounded-lg bg-white px-4 py-2 text-center sm:px-6',
    className
  )}
>
  <span class="text-base font-bold uppercase text-sw-text-subdued sm:text-lg">
    {month}
  </span>
  <span class="typography-h4 leading-none sm:typography-h2">
    {day}
  </span>
</time>
