---
import 'swiper/swiper-bundle.css';
import type { HTMLAttributes } from 'astro/types';
import type {
  UnparsedImage,
  UnparsedImageWithLink,
} from '@/scripts/data-parsers/parseImage';
import { cn } from '@/scripts/cn';
import { cleanArray } from '@/scripts/cleanArray';
import WordpressImage from './WordpressImage.astro';

interface LogosCollectionProps {
  logos?: UnparsedImageWithLink[];
  sizing?: 'sm' | 'md';
}

type Props = LogosCollectionProps & HTMLAttributes<'div'>;

const {
  class: className,
  logos: rawLogos,
  sizing = 'md',
  ...props
} = Astro.props;
const logos = cleanArray(rawLogos);
---

<script>
  import Swiper from 'swiper';

  const swiperContainers = document.querySelectorAll<HTMLDivElement>(
    '.logos-collection-swiper'
  );

  for (const swiperContainer of swiperContainers) {
    let swiper: Swiper;

    const initSwiper = () => {
      swiperContainer.classList.add('swiper');
      swiper = new Swiper(swiperContainer, {
        slidesPerView: 'auto',
        spaceBetween: 16,
      });
    };

    const destroySwiper = () => {
      if (swiper) {
        swiperContainer.classList.remove('swiper');
        swiper.destroy();
      }
    };

    const media = window.matchMedia('(min-width: 768px)');
    if (!media.matches) initSwiper();

    media.addEventListener('change', (event) => {
      event.matches ? destroySwiper() : initSwiper();
    });
  }
</script>

<style>
  .swiper-slide {
    @apply flex h-auto w-32 self-stretch;
    @media screen(md) {
      @apply w-auto;
    }
  }

  .swiper-wrapper,
  .swiper-slide {
    @media screen(md) {
      @apply contents;
    }
  }
</style>

{
  logos.length > 0 && (
    <div
      {...props}
      class={cn(
        'logos-collection-swiper md:flex md:flex-wrap md:items-center md:justify-center md:gap-2',
        className
      )}
    >
      <div class="swiper-wrapper">
        {logos.map((logo) => (
          <div class="swiper-slide">
            <div
              class={cn('logo md:flex-0 flex items-center justify-center p-3', {
                'basis-40': sizing === 'md',
                'basis-25': sizing === 'sm',
              })}
            >
              <WordpressImage
                data={logo as UnparsedImage}
                class="max-h-12 w-fit select-none object-contain"
              />
            </div>
          </div>
        ))}
      </div>
    </div>
  )
}
