---
import type { HTMLAttributes } from 'astro/types';
import type { ModulesModulesContentBackgroundColor } from '@/__generated__/cms';
import { parseBgColor } from '@/scripts/data-parsers/parseBgColor';
import type { WithAttributes } from '@/types';
import Section from './ui/Section.astro';

type Props = WithAttributes<
  {
    name: string;
    bg?: ModulesModulesContentBackgroundColor;
  } & HTMLAttributes<'div'>
>;

const { name, bg, ...props } = Astro.props;
---

<style>
  section.module {
    @apply py-12;
    @media screen(md) {
      @apply py-20;
    }
  }

  section.module.section-title {
    @apply pb-0;

    &.display-as-overline {
      @apply pt-2.5;
    }

    & + section.module {
      @apply pt-12;
    }
  }

  section.module.break {
    @apply p-0;
  }
</style>

<Section
  {...props}
  padding={false}
  name={`module ${name}`}
  bg={parseBgColor(bg)}
>
  <slot />
</Section>
