---
import type { HTMLAttributes } from 'astro/types';
import type { ModulesModulesContentBackgroundColor } from '@/__generated__/cms';
import { parseBgColor } from '@/scripts/data-parsers/parseBgColor';
import type { ModuleMeta, WithAttributes } from '@/types';
import { cn } from '@/scripts/cn';
import Section from './ui/Section.astro';

type Props = WithAttributes<
  {
    meta: ModuleMeta;
    name: string;
    bg?: ModulesModulesContentBackgroundColor;
    padding?: boolean;
  } & HTMLAttributes<'div'>
>;

const { meta, name, bg, padding: rawPadding = true, ...props } = Astro.props;

let padding = rawPadding;
let background = bg;
if (meta.moduleType === 'article') {
  padding = false;
  background = undefined;
}
---

<style>
  section.module {
    @apply py-12;
    @media screen(md) {
      @apply py-20;
    }
  }

  section.module.section-title {
    &:not(.with-bottom-padding) {
      @apply pb-0;
    }

    &.display-as-overline {
      @apply pt-2.5;
    }

    & + section.module:not(.no-padding) {
      @apply pt-12;
    }
  }

  section.module.no-padding {
    @apply p-0;
  }
</style>

<Section
  {...props}
  padding={false}
  name={`module ${name}`}
  bg={background ? parseBgColor(bg) : 'none'}
  class={cn({ 'no-padding': !padding })}
>
  <slot />
</Section>
