---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/scripts/cn';
import { imageShouldRender } from '@/scripts/data-parsers/parseImage';
import type { UnparsedImage } from '@/scripts/data-parsers/parseImage';
import type { WithAttributes } from '@/types';
import WordpressImage from './WordpressImage.astro';
import Card from './ui/Card.astro';

interface QuotationProps extends HTMLAttributes<'div'> {
  /** @default 'light' */
  theme?: 'light' | 'dark';
  image?: UnparsedImage;
  fullHeight?: boolean;
  authorImage?: UnparsedImage;
  authorName?: string;
  authorOccupation?: string;
  /** @default 'md' */
  avatarSize?: 'sm' | 'md';
  /** @default 'md' */
  quoteSize?: 'sm' | 'md';
  /** @default 'md' */
  paddingSize?: 'md' | 'sm' | 'with-image';
}

type Props = WithAttributes<QuotationProps>;

const {
  class: className,
  theme = 'light',
  avatarSize = 'md',
  quoteSize = 'md',
  paddingSize = 'auto',
  fullHeight = false,
  image,
  authorImage,
  authorName,
  authorOccupation,
  ...props
} = Astro.props;

const hasAuthor = !!authorImage || !!authorName || !!authorOccupation;
---

<Card
  {...props}
  class={cn(
    'quotation',
    'overflow-hidden p-0',
    { 'border-transparent bg-sw-sea-500 text-white': theme === 'dark' },
    { 'h-full': fullHeight },
    className
  )}
>
  {
    imageShouldRender(image) && (
      <div class="image-container relative">
        <WordpressImage
          preferredWidth={1240}
          data={image}
          class="aspect-auto w-full object-cover object-top md:aspect-video"
        />
        <slot name="image-details" />
      </div>
    )
  }
  <div
    class={cn('quotation-container', 'p-6', {
      'xl:p-16': paddingSize === 'md',
      'xl:p-8': paddingSize === 'sm',
      'xl:px-8 xl:py-6': paddingSize === 'with-image',
      'flex h-full flex-col': fullHeight,
    })}
  >
    <blockquote
      class={cn({
        'text-lg leading-snug md:typography-large-quote': quoteSize === 'md',
        'text-lg leading-normal md:typography-body-large': quoteSize === 'sm',
        // TODO: switch from `typography` to `text`
        '!text-white': theme === 'dark',
        'mb-6': fullHeight,
      })}
    >
      <slot />
    </blockquote>

    {
      hasAuthor && (
        <div
          class={cn('author mt-8 flex items-center gap-6', {
            'md:mt-16': quoteSize === 'md',
            'md:mt-12': quoteSize === 'sm',
            'gap-3.5': avatarSize === 'sm',
            '!mt-auto': fullHeight,
          })}
        >
          <WordpressImage
            data={authorImage}
            preferredWidth={avatarSize === 'sm' ? 50 : 115}
            class={cn(
              'aspect-square rounded-full border-2 border-transparent object-cover',
              {
                'border-white': theme === 'dark',
                'size-[4.875rem]': avatarSize === 'md',
                'size-12': avatarSize === 'sm',
              }
            )}
          />
          <div class="details">
            {!!authorName && (
              <div
                class={cn('typography-subhead', {
                  'text-black': theme === 'light',
                  'text-white': theme === 'dark',
                })}
              >
                {authorName}
              </div>
            )}
            {!!authorOccupation && (
              <div class="text-base">{authorOccupation}</div>
            )}
          </div>
        </div>
      )
    }
  </div>
</Card>
