---
import { fetchHubspotForm } from '@/lib/fetchHubspotForm';
import ClientNewsletterForm from './NewsletterForm';

type Props = {
  formGuid: string;
};

const { formGuid } = Astro.props;
const form = await fetchHubspotForm(formGuid);
---

{form ? <ClientNewsletterForm client:visible form={form} /> : null}
{
  !form && import.meta.env.DEV && (
    <div>
      There was no form with id: <code>{formGuid}</code>
    </div>
  )
}
