@font-face {
  font-family: 'MaisonNeue';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/MaisonNeue-Book.woff2');
}

@font-face {
  font-family: 'MaisonNeue';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('/fonts/MaisonNeue-Bold.woff2');
}
