/* COLORS */
$contrast: yellow;
$black: #000000;
$white: #ffffff;

$gray-light: #f0f0f0;
$gray: #cccccc;
$gray-dark: #666666;
$gray-bg: #999999;
$almost-black: #333333;

$red: #EF4444;
$green: #22C55E;
$blue: #2563EB;
$yellow: #EAB308;

$brand: $red;
$brand-dark: darken($brand, 8%);
$text-color: $almost-black;


/* TRANSITIONS */

$trans-fast: all .25s ease-in-out;
$trans-medium: all .5s ease-in-out;
$trans-slow: all .75s ease-in-out;
