---
import { TRANSLATIONS } from '@/constants';
import Button from '../ui/Button.astro';
import SidebarCard from './SidebarCard.astro';

interface AuthorProps {
  href?: string;
}

type Props = AuthorProps;

const { href } = Astro.props;
const title = TRANSLATIONS.SIDEBAR.GUIDE;
---

{
  !!href && (
    <SidebarCard collapsible title={title}>
      <Button
        asLink
        external
        variant="secondary"
        leadingIcon="download"
        href={href}
      >
        {TRANSLATIONS.SIDEBAR.DOWNLOAD}
      </Button>
    </SidebarCard>
  )
}
