---
import { TRANSLATIONS } from '@/constants';
import Button from '../ui/Button.astro';
import SidebarCard from './SidebarCard.astro';

interface AuthorProps {
  href?: string;
  title?: string;
}

type Props = AuthorProps;

const { href, title } = Astro.props;
---

<script>
  import { $gated } from '@/scripts/client/atoms/gated';

  const cards =
    document.querySelectorAll<HTMLElement>('.file-sidebar-card') ?? [];

  $gated.subscribe((value) => {
    for (const card of cards) {
      card.style.display = value ? 'none' : '';
    }
  });
</script>

{
  !!href && (
    <SidebarCard
      collapsible
      title={title || TRANSLATIONS.SIDEBAR.GUIDE}
      name="file-sidebar-card"
    >
      <Button
        asLink
        external
        variant="secondary"
        leadingIcon="download"
        href={href}
      >
        {TRANSLATIONS.SIDEBAR.DOWNLOAD}
      </Button>
    </SidebarCard>
  )
}
