---
import { template } from 'lodash-es';
import { getTranslations } from '@/scripts/translations';
import Button from '../ui/Button.astro';
import SidebarCard from './SidebarCard.astro';

interface AuthorProps {
  location?: string;
}

type Props = AuthorProps;

const { location } = Astro.props;
const TRANSLATIONS = getTranslations();
const title = template(TRANSLATIONS.sidebar.joinUsLive, {
  interpolate: /{([\s\S]+?)}/g,
});
---

{
  !!location && (
    <SidebarCard title={title({ location })}>
      <Button asLink href="#register-form">
        {TRANSLATIONS.sidebar.register}
      </Button>
    </SidebarCard>
  )
}
