---
import { TRANSLATIONS } from '@/constants';
import Button from '../ui/Button.astro';
import SidebarCard from './SidebarCard.astro';

interface AuthorProps {
  href?: string;
  title?: string;
}

type Props = AuthorProps;

const { href, title } = Astro.props;
---

{
  !!href && (
    <SidebarCard collapsible title={title || TRANSLATIONS.SIDEBAR.GUIDE}>
      <Button
        asLink
        external
        variant="secondary"
        leadingIcon="download"
        href={href}
      >
        {TRANSLATIONS.SIDEBAR.DOWNLOAD}
      </Button>
    </SidebarCard>
  )
}
