---
import { Icon } from 'astro-icon/components';
import type { WithAttributes } from '@/types';
import { cn } from '@/scripts/cn';
import Card from '../ui/Card.astro';

interface SidebarCardProps {
  name?: string;
  title?: string;
  collapsible?: boolean;
}

type Props = WithAttributes<SidebarCardProps>;

const { title, collapsible = false, name } = Astro.props;

const Wrapper = collapsible ? 'details' : Fragment;
const Heading = collapsible ? 'summary' : 'div';
---

<Card class={cn(name, 'p-0', { collapsible })}>
  <Wrapper class="group">
    {
      (collapsible || (!collapsible && title)) && (
        <Heading
          class={cn(
            'px-6 py-4 typography-small-box-title uppercase text-sw-sky-400',
            {
              'pb-3': !collapsible,
              'cursor-pointer group-open:pb-3 flex items-center justify-between':
                collapsible,
            }
          )}
        >
          {title}
          {collapsible && (
            <Icon
              name="caret-down"
              class="text-base text-sw-text-subdued transform group-open:rotate-180"
            />
          )}
        </Heading>
      )
    }
    <div class={cn('content px-6 pb-4', { 'pt-4': !title })}>
      <slot />
    </div>
  </Wrapper>
</Card>
