---
import { TRANSLATIONS } from '@/constants';
import type { ITableOfContentsEntry } from '@/types';
import { cn } from '@/scripts/cn';
import SidebarCard from './SidebarCard.astro';

type Props = {
  toc?: ITableOfContentsEntry[];
};
// Note: if toc is empty, you probably should use this component AFTER using Prose (because those items are added inside <Prose /> component)
const { toc } = Astro.props;
---

{
  !!toc && toc.length > 0 && (
    <SidebarCard collapsible title={TRANSLATIONS.SIDEBAR.TOC}>
      <ul>
        {toc.map((entry) => (
          <li class={cn('mt-1.5', { 'mt-0.5': entry.level > 2 })}>
            <a
              href={`#${entry.id}`}
              class={cn('hover:underline', {
                'ml-4 text-sw-text-subdued': entry.level > 2,
              })}
            >
              {entry.label}
            </a>
          </li>
        ))}
      </ul>
    </SidebarCard>
  )
}
