.subpage.report {
    h1 {
        margin-bottom: 0;
    }
}

.subpage .reports {

    .detailed-filter {
        padding-top: 30px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @include mobile {
            display: block;
        }

        input {
            background-color: $white;
            border: 1px solid $text-color;
            border-radius: 4px;
            color: $text-color;
            margin: 0;
            opacity: .4;
            padding: 10px 10px;
            transition: $trans-fast;
            width: auto;

            &:focus {
                outline: none;
                opacity: 1;
            }

            @media (min-width: 1200px) {
                &:first-child {
                    width: 40%;
                }
            }

            @include mobile() {

                text-align: center;
                &:nth-child(1),
                &:nth-child(2) {
                    width: auto;
                }
            }
        }

        .filter-label {

            @include tablet {
                display: block;
                margin-top: 20px;
            }
        }

        .search {
            border: 1px solid $black;
            color: $black;
            padding: 10px 20px;
            display: inline-block;
            text-decoration: none;
            background: $white;
            text-align: center;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }

            @include mobile {
                width: 100%;
                margin-top: 20px;

                &:hover {
                    transform: translateX(0);
                }
            }
        }
    }

    .table-container {
        padding-top: 60px;

        table {
            color: $text-color;
            font-size: 1.5rem;
            text-align: left;
            width: 100%;

            tr {
                border-bottom: 0;
            }

            th, td {
                padding-left: 10px;
                padding-right: 40px;
                vertical-align: top;

                &::before {
                    display: none!important;
                }

                &:last-child {

                    &::after {
                        display: none!important;
                    }
                }
            }

            th {
                font-size: 1.8rem;
                font-weight: 700;
                color: $text-color;
            }

            td {
                padding-top: 32px;
                padding-bottom: 32px;
            }


            tbody tr {
                transition: $trans-fast;
                border-bottom: 1px solid #dddddd;

                td {

                    a {
                        text-decoration: none;
                        color: $text-color;
                    }

                    &.social {
                        display: none;
                        font-size: 2rem;
                        min-width: 110px;

                        i {
                            margin-right: 10px;
                        }
                    }
                }

                &:hover {
                    background: #f8f8f8;
                }
            }
        }

        @include mobile {
            overflow-x: auto;

            table {

                tbody {

                    tr {

                        td.social {

                            a {
                                margin-bottom: 10px;

                                i {
                                    vertical-align: initial;
                                }
                            }
                        }
                    }
                }
            }
        }
        //end @include  mobile;
    }
}
