---
import { fetchHubspotForm } from '@/lib/fetchHubspotForm';
import { HubspotForm } from './HubspotForm';

type Props = {
  formGuid: string;
  formName?: string;
};

const { formGuid, formName } = Astro.props;
const form = await fetchHubspotForm(formGuid);
---

{form ? <HubspotForm client:visible form={form} formName={formName} /> : null}
{
  !form && import.meta.env.DEV && (
    <div>
      There was no form with id: <code>{formGuid}</code>
    </div>
  )
}
