---
import type { Modules } from '@/__generated__/cms';
import * as allModules from '.';

const { modulesProps } = Astro.props;
---

{
  !!modulesProps && (
    <div>
      {modulesProps.map((module: Modules) => {
        const Component =
          allModules[module.fieldGroupName as keyof typeof allModules];
        if (Component) {
          return <Component {...module} />;
        }
        return null;
      })}
    </div>
  )
}
