---
const { props } = Astro;
---

<div class="flex flex-wrap">
  <div class="w-1/2" set:html={props.quotationContent} />
  <div class="w-1/2">{props.authorName}</div>
  <div class="w-1/2">{props.authorOccupation}</div>
</div>
