---
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { linkShouldRender } from '@/scripts/data-parsers/parseLink';
import type { CaseStudyCardFragment } from '@/__generated__/cms';
import { cleanArray } from '@/scripts/cleanArray';
import Container from '../ui/Container.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import ButtonContainer from '../ButtonContainer.astro';
import Section from '../ui/Section.astro';
import CaseStudiesGrid from '../CaseStudiesGrid.astro';
import WordpressButtonLink from '../WordpressButtonLink.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.caseStudies!;
const cases = cleanArray(acf.caseStudies?.nodes) as CaseStudyCardFragment[];
---

<Section name="case-studies" bg="white">
  <Container>
    <SectionTitle
      withMargin
      {...parseSectionTitle(acf.sectionTitle?.selectSectionTitle)}
    />
    <CaseStudiesGrid cases={cases} buttonLabel={acf.caseStudyButtonLabel} />
    {
      linkShouldRender(acf.button) && (
        <ButtonContainer>
          <WordpressButtonLink data={acf.button} />
        </ButtonContainer>
      )
    }
  </Container>
</Section>
