---
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import Container from '../ui/Container.astro';
import DemoComponent from '../Demo.astro';
import Section from '../ui/Section.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.demo!;

const { title, image, button } = acf;
---

<Section name="demo" bg="surface-subdued">
  <Container>
    <DemoComponent title={title} image={image} button={button} />
  </Container>
</Section>
