---
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { linkShouldRender } from '@/scripts/data-parsers/parseLink';
import type { PartnersListFragment } from '@/__generated__/cms';
import Container from '../ui/Container.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import ButtonContainer from '../ButtonContainer.astro';
import Section from '../ui/Section.astro';
import WordpressButtonLink from '../WordpressButtonLink.astro';
import PartnersList from '../PartnersList.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.partners!;
const partners = acf.partners?.nodes ?? [];
---

<Section name="partners">
  <Container>
    <SectionTitle
      withMargin
      {...parseSectionTitle(acf.sectionTitle?.selectSectionTitle)}
    />
    <PartnersList partners={partners as PartnersListFragment[]} />
    {
      linkShouldRender(acf.button) && (
        <ButtonContainer class="mt-8 md:mt-15">
          <WordpressButtonLink data={acf.button} />
        </ButtonContainer>
      )
    }
  </Container>
</Section>
