---
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { linkShouldRender } from '@/scripts/data-parsers/parseLink';
import Container from '../ui/Container.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import ButtonContainer from '../ButtonContainer.astro';
import Section from '../ui/Section.astro';
import WordpressButtonLink from '../WordpressButtonLink.astro';
import CardWithImageSpaced from '../CardWithImageSpaced.astro';
import Prose from '../ui/Prose.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.platform!;
---

<Section name="platform" transition:name="surface-subdued">
  <Container>
    <SectionTitle
      withMargin
      {...parseSectionTitle(acf.sectionTitle?.selectSectionTitle)}
    />
    <CardWithImageSpaced image={acf.image}>
      <Prose set:html={acf.content} />
    </CardWithImageSpaced>
    {
      linkShouldRender(acf.button) && (
        <ButtonContainer class="md:mt-18">
          <WordpressButtonLink data={acf.button} arrow />
        </ButtonContainer>
      )
    }
  </Container>
</Section>
