---
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { cleanArray } from '@/scripts/cleanArray';
import Container from '../ui/Container.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import LogosGrid from '../LogosGrid.astro';
import Section from '../ui/Section.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.regulations!;

const logos = cleanArray(acf.logos?.edges);
---

<Section name="regulations" bg="surface-background">
  <Container>
    <SectionTitle
      withMargin
      {...parseSectionTitle(acf.sectionTitle?.selectSectionTitle)}
    />

    <LogosGrid columns={4} logos={logos} />
  </Container>
</Section>
