---
import 'swiper/swiper-bundle.css';
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import { buildI18nPath } from '@/i18n/utils';
import { languageStore } from '@/stores/languageStore';
import { getDefaultTopImage } from '@/scripts/postTypeOptions';
import Container from '../ui/Container.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import SwiperNavigation from '../SwiperNavigation.astro';
import ButtonContainer from '../ButtonContainer.astro';
import Section from '../ui/Section.astro';
import ArticleCard from '../ArticleCard.astro';
import WordpressButtonLink from '../WordpressButtonLink.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.resources!;
const insights = (store.homepageInsights?.nodes ?? []).filter(Boolean);

// TODO: create useLanguage hook to get current lang from the store automatically
const { currentLanguage } = getStore(languageStore);
---

<script>
  import Swiper from 'swiper';
  import { Navigation } from 'swiper/modules';

  const resourceSwiperContainers =
    document.querySelectorAll<HTMLElement>('.resources-swiper');
  for (const swiperContainer of resourceSwiperContainers) {
    const prevButton = swiperContainer
      .closest('section.resources')
      ?.querySelector<HTMLButtonElement>('.swiper-navigation-prev');
    const nextButton = swiperContainer
      .closest('section.resources')
      ?.querySelector<HTMLButtonElement>('.swiper-navigation-next');

    new Swiper(swiperContainer, {
      modules: [Navigation],
      slidesPerView: 1,
      spaceBetween: 16,
      breakpoints: {
        640: {
          slidesPerView: 2,
        },
        1024: {
          slidesPerView: 3,
        },
      },
      navigation: {
        prevEl: prevButton,
        nextEl: nextButton,
      },
    });
  }
</script>

<style>
  .swiper {
    @apply overflow-visible;
  }

  .swiper-slide {
    @apply flex h-auto self-stretch;
  }
</style>

<Section name="resources" bg="surface-subdued" class="overflow-hidden">
  <Container>
    <SectionTitle
      withMargin
      {...parseSectionTitle(acf.sectionTitle?.selectSectionTitle)}
    />

    <div class="swiper resources-swiper">
      <div class="swiper-wrapper">
        {
          insights.map((insight) => {
            if (insight.__typename !== 'InsightsItem' || !insight.uri) {
              return null;
            }

            const category = insight.categories?.nodes?.[0].name ?? '';

            return (
              <div class="swiper-slide">
                <ArticleCard
                  image={
                    insight.subpageSettings?.image ||
                    getDefaultTopImage(insight.__typename)
                  }
                  link={{
                    url: buildI18nPath(insight.uri, currentLanguage.code),
                  }}
                  class="size-full"
                >
                  {!!category && (
                    <p class="typography-card-title text-sw-text-subdued">
                      {category}
                    </p>
                  )}
                  <h3
                    class="typography-cards-bold-large"
                    set:html={insight.title}
                  />
                </ArticleCard>
              </div>
            );
          })
        }
      </div>
    </div>

    <ButtonContainer class="flex-col sm:flex-row">
      <SwiperNavigation class="shrink-0" />
      <WordpressButtonLink data={acf.button} arrow />
    </ButtonContainer>
  </Container>
</Section>
