---
import { cmsStore } from '@/stores/cmsStore';
import { getStore } from '@/scripts/store';
import { parseSectionTitle } from '@/scripts/data-parsers/parseSectionTitle';
import Container from '../ui/Container.astro';
import SectionTitle from '../partials/SectionTitle.astro';
import ColoredImageCards from '../ColoredImageCards.astro';
import Section from '../ui/Section.astro';

const store = getStore(cmsStore);
const data = store.homepage!;
const acf = data.homepage!.whoweworkwith!;

const cards = acf?.cards?.filter(Boolean) ?? [];
---

<Section name="who-we-work-with" bg="white">
  <Container>
    <SectionTitle
      withMargin
      {...parseSectionTitle(acf.sectionTitle?.selectSectionTitle)}
    />

    <ColoredImageCards cards={cards} />
  </Container>
</Section>
