.module.accordion {
	.accordion-component {
		display: flex;
		flex-direction: column;
	}
	
	.accordion-row {
		border-bottom: 1px solid $gray-light;
	}
	
	.accordion-header {
	}
	
	button.accordion-trigger {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 0;
		
		.sign {
			display: flex;
			transition: transform 150ms ease;
			
			svg {
				width: 1em;
				height: 1em;
			}
		}
		
		&[aria-expanded="true"] .sign {
			transform: rotate(180deg);
		}
	}
	
	.accordion-content {
		&.image-position--left {
			.column.column-image {
				@include tablet-and-greater {
					order: 1;
				}
			}
			
			.column.column-content {
				@include tablet-and-greater {
					order: 2;
				}
			}
		}
	}
	
	.accordion-content-inner {
		--columns: 2;
		display: grid;
		grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
		gap: 24px;
		padding-bottom: 16px;
		
		@include mobile {
			--columns: 1;
			gap: 16px;
		}
	}
	
	.column {
		&:only-child {
			grid-column: 1 / -1;
		}
		
		&.column-image {
			img {
				width: 100%;
			}
		}
	}
}