.gri-container {
    margin-bottom: 10px;
    display: flex;
    font-size: 1.4rem;
    color: $brand;

    a {
        white-space: nowrap;
        color: $brand;
        font-weight: bold;
    }

    .gri-list {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;

            &:not(:last-child):after {
                content: ", ";
                color: $brand;
            }
        }
    }
}

.module.gri-text {
    margin-bottom: 15px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        font-size: 1.4rem;
        font-weight: bold;
        color: $brand;

        li {
            padding: 0;

            &:not(:first-child):before {
                content: ", ";
            }

            div {
                display: inline;
            }
        }

        > div {
            position: relative;
        }

        .content {
            &:hover + .tooltip {
                opacity: 1;
            }
        }
    }
}