.module.clarifying-notes {

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a {
        color: $brand;

        &:hover {
            color: $brand-dark;
        }
    }

    .note-category-name {
        margin-bottom: 10px;

        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    .note-parent p {
        margin-bottom: 10px;
    }
}
