---
import { getLangParam, getUrlWithoutLang } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { fetchInsightsPagesStaticPaths } from '@/lib/fetchCMSData';
import { unprefixURI } from '@/scripts/utils-uri';

export const getStaticPaths = async () => {
  const finalPaths = [];

  const paths = await fetchInsightsPagesStaticPaths();
  for (const staticPath of paths) {
    if (!staticPath?.languageCode || !staticPath?.uri) {
      continue;
    }

    const paramPath = getUrlWithoutLang(staticPath.uri);

    finalPaths.push({
      params: {
        lang: getLangParam(staticPath.languageCode),
        insights_uri: unprefixURI(paramPath, 'insights'),
      },
    });
  }

  return finalPaths;
};
---

<Layout
  name="insights"
  pageTitle="INSIGHTS"
  class="py-8 md:py-18 bg-gradient-to-b from-sw-surface-subdued to-transparent"
>
  <h1>INSIGHTS SINGLE</h1>
</Layout>
