---
import Layout from '@/layouts/Layout.astro';
import { withLangParams } from '@/i18n/utils';

export const getStaticPaths = () => {
  const paths = withLangParams([
    {
      params: {
        slug: 'bred',
      },
    },
    {
      params: {
        slug: 'chlebek',
      },
    },
  ]);
  return paths;
};

const { lang = 'en', slug } = Astro.params;
---

<Layout>
  <h1>[{lang}] Blog post - [{slug}]</h1>
</Layout>
