---
import Header from '@/components/partials/Header.astro';

const title = 'Sweep';
const description = 'Astro description';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="icon"
      type="image/svg+xml"
      href={import.meta.env.PROD ? '/favicon.svg' : '/favicon-dev.svg'}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      @import '@/styles/font.css';
    </style>
  </head>
  <body class="">
    <Header />
    <slot />
  </body>
</html>
