---
import '@/styles/global.css';
import '@/assets/fonts/font.css';
import type { HTMLAttributes } from 'astro/types';
import Footer from '@/components/partials/Footer.astro';
import Header from '@/components/partials/Header.astro';
import { cn } from '@/scripts/cn';
import NewsletterSection from '@/components/partials/NewsletterSection.astro';
import { initializeStore } from '@/scripts/store';
import { cacheStore } from '@/stores/cacheStore';
import { getLanguage } from '@/scripts/utils-store-helpers';
import { getTranslations } from '@/scripts/translations';
import SEO from '@/components/partials/SEO.astro';

interface Props extends HTMLAttributes<'main'> {
  home?: boolean;
  name: string;
  pageTitle: string;
  htmlClassName?: string;
}
const {
  home,
  name,
  pageTitle,
  class: className,
  htmlClassName,
  ...props
} = Astro.props;

const { currentLanguage } = getLanguage();
const { t } = getTranslations();
const seoProps = {
  pageTitle,
  home,
  currentLanguage,
};

// Initialize stores
initializeStore(cacheStore, {
  allIndustries: [],
});
---

<!doctype html>
<html lang={currentLanguage} class={htmlClassName}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO {...seoProps} />
    <link
      rel="icon"
      type="image/svg+xml"
      href={import.meta.env.PROD ? '/favicon.svg' : '/favicon-dev.svg'}
    />
    <script define:vars={{ t }}>
      // Populate translations in client for React components
      window.TRANSLATIONS = t;
    </script>
  </head>
  <body class="flex min-h-screen flex-col antialiased">
    <Header />
    <main {...props} class={cn({ subpage: !home }, name, 'flex-1', className)}>
      <slot />
      <NewsletterSection />
    </main>
    <Footer />
  </body>
</html>
