---
import '@/styles/global.css';
import '@/assets/fonts/font.css';
import type { HTMLAttributes } from 'astro/types';
import Footer from '@/components/partials/Footer.astro';
import Header from '@/components/partials/Header.astro';
import { cn } from '@/scripts/cn';
import NewsletterSection from '@/components/partials/NewsletterSection.astro';
import { initializeStore } from '@/scripts/store';
import { cacheStore } from '@/stores/cacheStore';
import { getLanguage } from '@/scripts/utils-store-helpers';
import { getTranslations } from '@/scripts/translations';
import SEO from '@/components/partials/SEO.astro';
import TrackingCodes from '@/components/tracking-codes/TrackingCodes.astro';

interface Props extends HTMLAttributes<'main'> {
  home?: boolean;
  name: string;
  htmlClassName?: string;
}
const { home, name, class: className, htmlClassName, ...props } = Astro.props;

const { currentLanguage } = getLanguage();
const TRANSLATIONS = getTranslations();

// Initialize stores
initializeStore(cacheStore, {
  allIndustries: [],
});
---

<!doctype html>
<html lang={currentLanguage} class={htmlClassName}>
  <head>
    <TrackingCodes name="gtm" />
    <SEO />
    <script define:vars={{ TRANSLATIONS }} is:inline>
      // Populate translations in client for React components
      window.TRANSLATIONS = TRANSLATIONS;
    </script>
  </head>
  <body class="flex min-h-screen flex-col antialiased">
    <TrackingCodes name="gtm-noscript" />
    <Header />
    <main {...props} class={cn({ subpage: !home }, name, 'flex-1', className)}>
      <slot />
      <NewsletterSection />
    </main>
    <Footer />
  </body>
</html>
