.breadcrumbs {
	
	ul {
		display: flex;
		align-items: center;
		list-style: none;
		gap: 15px;
		margin: 0;
		padding: 0;
		
		li {
			display: flex;
			align-items: center;
			
			a, span {
				color: currentColor;
				display: flex;
				font-size: 1.5rem;
			}
			
			svg {
				width: 4px;
				height: auto;
			}
		}
	}
}