.modal-video {
	z-index: 9999;
}

.tooltip_templates {
	display: none;
}

.tooltip-aria {
	position: absolute;
	visibility: hidden;
}

.tooltipster-base {
	$tooltipster-background: $brand;
	
	.tooltipster-box {
		background-color: $tooltipster-background;
		border: 0;
		border-radius: 0;
		
		.tooltipster-content {
			padding: 16px;
			font-size: 1.4rem;
			color: $white;
		}
	}
	
	&.tooltipster-sidetip {
		&.tooltipster-top {
			.tooltipster-arrow {
				top: auto;
				bottom: 1px;
				
				&-border {
					border-top-color: rgba($tooltipster-background, 1);
				}
				
				&-background {
					border-top-color: $tooltipster-background;
				}
			}
		}
		
		&.tooltipster-bottom {
			.tooltipster-arrow {
				bottom: auto;
				top: -1px;
				
				&-border {
					border-bottom-color: rgba($tooltipster-background, 1) !important;
					top: 1px;
				}
				
				&-background {
					border-bottom-color: $tooltipster-background !important;
				}
			}
		}
		
		&.tooltipster-left {
			.tooltipster-arrow {
				&-border {
					border-left-color: rgba($tooltipster-background, 1) !important;
					top: 1px;
				}
				
				&-background {
					border-left-color: $tooltipster-background !important;
				}
			}
		}
		
		&.tooltipster-right {
			.tooltipster-arrow {
				&-border {
					border-right-color: rgba($tooltipster-background, 1) !important;
					top: 1px;
				}
				
				&-background {
					border-right-color: $tooltipster-background !important;
				}
			}
		}
	}
}