// everywhere
.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.7);

    .box {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        width: 550px;
        background-color: #fff;
        border: 1px solid $gray;
        border-radius: 4px;
        padding: 32px;

        @include mobile {
            width: 100%;
            padding: 32px 15px;
        }

        .close-icon {
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        .m-body {
            position: relative;
            float: left;
            width: 100%;

            .table-container{
                padding-top: 35px;
                .table-tools{
                    top: 0;
                }
            }

            .left,
            .right {
                position: relative;
                float: left;
                width: 50%;
            }

            .left {
                border-right: 1px solid $gray;
            }

            .right {
                padding-left: 32px;
            }

            h3 {
                margin: 0 0 20px;
            }

            .radio-container {
                display: inline-block;
                position: relative;
                width: 100%;
                padding-left: 40px;
                margin: 0;
                font-weight: 400;
                line-height: 24px;
                cursor: pointer;

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #ffffff;
                    border: solid 1px $gray;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;

                    &::after {
                        content: "";
                        position: absolute;
                        display: none;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: $brand;
                    }
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;

                    &:checked~.checkmark::after {
                        display: block;
                    }
                }

                &+.radio-container {
                    margin-top: 20px;
                }
            }
        }

        .buttons {
            float: left;
            position: relative;
            width: 100%;
            padding-top: 24px;
            text-align: center;

            @include mobile {
                padding-top: 32px;
            }

            button+button {
                margin-left: 20px;
            }
        }
    }
}

.custom-modal.search-results-modal {
    .box {
        width: 750px;
        max-width: 80%;
        .close-icon svg {
            path {
                fill: $brand;
            }
        }
    }

    h2 {
        margin-bottom: 20px;

        i {
            color: $brand;
        }
    }

    .results-container {
        max-height: 70vh;
	    overflow: auto;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            &>li {
                position: relative;
                padding-left: 24px;
                margin: 12px 0;

                &::before {
                    content: "\2022";
                    font-family: Verdana, sans-serif;
                    position: absolute;
                    left: 0;
                    color: $brand;
                    font-size: 1.4rem;
                    line-height: 2rem;
                }

                &>ul li::before {
                    content: "–";
                }

                a {
                    color: $brand;
                }
            }
        }
    }
}
