body {
	// reports
	&.print-version {
		height: 297mm;
		width: 210mm;
		margin-left: 0;
		
		.col-md-10 {
			flex: 0 0 100%;
			max-width: 100%;
		}
		
		.offset-md-1 {
			margin-left: 0;
		}
		
		header,
		.pages,
		.table-tools,
		.currency-bar,
		aside,
		footer,
		.top .breadcrumb-container,
		.sharing {
			display: none;
		}
		
		#hide-print-version,
		.currency-elements > .element {
			display: block !important;
		}
		
		.container {
			max-width: 100%;
		}
		
		.top .gri {
			height: auto;
		}
		
		.subpage {
			.info-icons {
				padding: 48px 0;
				
				.col-sm-6 {
					flex: 0 0 50%;
					max-width: 50%;
				}
				
				.icon-container {
					padding: 24px 0;
					//max-width: calc(45% - 20px);
				}
			}
			
			.documents-to-download-2 ul > li .title {
				width: 85%;
			}
			
			.accordion {
				.collapse {
					display: block;
				}
			}
			
			.tabs {
				.nav-pills {
					display: none !important;
				}
				
				.tab-pane {
					display: block;
					opacity: 1;
					margin-bottom: 30px;
				}
			}
			
			.vertical-tabs {
				.nav-pills {
					display: none !important;
				}
				
				.tab-pane {
					display: block;
					opacity: 1;
				}
			}
			
			.table-container {
				.collapsible-row-child .row-content {
					display: block;
				}
				
				.buttons {
					display: none;
				}
			}
			
			.column-with-photo {
				> div {
					flex: 0 0 50%;
					max-width: 50%;
					padding-left: 15px !important;
					padding-right: 15px !important;
				}
			}
		}
	}
	
	#hide-print-version {
		display: none;
		
		@media print {
			display: none !important;
		}
	}
	
	.subpage {
		&.with-highlighter * {
			cursor: url('../images/cr_marker.cur'), auto;
			
			.highlighted {
				cursor: url('../images/cr_eraser.cur'), auto;
			}
		}
		
		.highlighted {
			background-color: #fff4d1 !important;
		}
		
	
		.entries-list {
			.results {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}
			
			.entry {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 6px 24px;
			}
			
			.contents {
				flex: 0 0 100%;
				max-width: 100%;
			}
			
			.buttons {
				margin-top: 24px;
			}
			
			.title a {
				color: $brand;
				font-weight: bold;
				font-size: 2.5rem;
				display: block;
			}
			
			&.print-list > .results > .entry > .contents {
				display: none;
			}
			
		}

		
		.notes-tool {
			margin-top: 45px;
			margin-bottom: 45px;
			
			label {
				font-weight: bold;
				margin-bottom: 1rem;
			}
			
			textarea {
				color: #000;
				resize: none;
				border-color: $gray;
				border-radius: 4px;
				min-height: 120px;
				padding: 10px 20px;
				margin-bottom: 25px;
				outline: none;
				width: 100%;
			}
			
			.buttons {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				gap: 24px;
			}
		}
		
		.note-alert {
			margin-top: 15px;
			text-align: center;
		}
	}
}
