---
import { Icon } from 'astro-icon/components';
import { getStore } from '@/scripts/store';
import { languageStore } from '@/stores/languageStore';
import { buildI18nPath } from '@/i18n/utils';
import Container from '../ui/Container.astro';
import LanguageSwitcher from '../LanguageSwitcher.astro';
import Button from '../ui/Button.astro';
import Menu from './Menu.astro';

const { currentLanguage } = getStore(languageStore);
---

<header class="py-4 bg-white">
  <Container class="flex items-center justify-between gap-28">
    <div class="logo-container">
      <a
        href={buildI18nPath('/', currentLanguage.code)}
        aria-label="Go to homepage"
      >
        <Icon
          name="logo"
          aria-label="Sweep logo"
          class="w-36 h-12 text-sw-sky-400"
        />
      </a>
    </div>
    <Menu />
    <div class="controls-container flex items-center gap-3.5">
      <LanguageSwitcher />
      <a href="https://flyhigh.pro" class="font-medium py-1.5 px-2.5 hidden">
        Login
      </a>
      <Button asLink href="https://flyhigh.pro" target="_blank">
        Book a demo
      </Button>
    </div>
  </Container>
</header>
