---
import { Icon } from 'astro-icon/components';
import { getStore } from '@/scripts/store';
import { languageStore } from '@/stores/languageStore';
import { buildI18nPath } from '@/i18n/utils';
import Container from '../ui/Container.astro';
import LanguageSwitcher from '../LanguageSwitcher.astro';
import Button from '../ui/Button.astro';
import MenuItem from '../MenuItem.astro';
import MenuHamburger from '../MenuHamburger.astro';
import Menu from './Menu.astro';

const { currentLanguage } = getStore(languageStore);
const menuId = `main-menu-${crypto.randomUUID().substring(16)}`;
---

<header class="py-4 bg-white relative lg:static">
  <Container class="flex items-center justify-between gap-4 sm:gap-6">
    <div class="logo-container">
      <a
        href={buildI18nPath('/', currentLanguage.code)}
        aria-label="Go to homepage"
      >
        <Icon
          name="logo"
          aria-label="Sweep logo"
          class="w-20 sm:w-24 md:w-36 h-auto text-sw-sky-400"
        />
      </a>
    </div>
    <Menu id={menuId} />
    <div class="controls-container flex items-center gap-2 sm:gap-4 md:gap-8">
      <LanguageSwitcher class="text-sm sm:text-base" />
      <MenuItem
        external
        href="https://flyhigh.pro"
        class="text-sm sm:text-base sm:w-full w-auto"
      >
        Login
      </MenuItem>
      <Button asLink href="/demo" class="text-sm sm:text-base xs:block hidden"
        >Book a demo</Button
      >
      <MenuHamburger menuId={menuId} />
    </div>
  </Container>
</header>
