<div class="navbar hidden">
  <nav class="navbar-nav">
    <ul class="main-menu">
      <li>
        <a href="https://flyhigh.pro" class="font-medium">MenuLink</a>
      </li>
    </ul>
  </nav>
</div>
