---
import { getStore } from '@/scripts/store';
import { cmsStore } from '@/stores/cmsStore';
import { getOptions } from '@/scripts/utils-store-helpers';
import WordpressImage from '../WordpressImage.astro';
import Grid from '../ui/Grid.astro';
import Section from '../ui/Section.astro';
import Container from '../ui/Container.astro';
import NewsletterForm from '../hubspot-form/forms/NewsletterForm.astro';

const store = getStore(cmsStore);
const enabled = store.subpageSettings?.hasNewsletterSection ?? false;
const options = getOptions();
const {
  title = '',
  content = '',
  image,
  hubspotFormGuid = '',
} = options.newsletterSection;
---

{
  enabled && !!options.newsletterSection && (
    <Section>
      <Container>
        <Grid class="grid-rows-1 overflow-hidden rounded-lg bg-sw-sea-500 p-0 text-white">
          <div class="relative z-[2] col-start-1 col-end-13 row-start-1 row-end-2 flex flex-col items-start gap-4 p-14 pr-0 lg:col-start-1 lg:col-end-6">
            <h2
              class="typography-h3 text-inherit md:text-5xl md:font-bold md:leading-tight"
              set:html={title}
            />
            <p set:html={content} />
            <NewsletterForm formGuid={hubspotFormGuid} />
          </div>
          <div class="relative col-start-1 col-end-13 row-start-1 row-end-2 flex items-center justify-center lg:col-start-5 lg:col-end-13">
            <WordpressImage
              data={image}
              preferredWidth={1440}
              class="absolute left-0 top-0 size-full object-cover object-left-top"
            />
          </div>
        </Grid>
      </Container>
    </Section>
  )
}
