aside.report-tools {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	display: flex;
	flex-direction: column;
	background: $white;
	@include mobile {
		transform: none;
		bottom: 24px;
		top: auto;
	}

	button.tools-trigger {
		display: flex;
		align-items: center;
		gap: 12px;
		@include mobile {
			order: 2;
		}

		[data-open] {
			display: none;
		}

		&[aria-expanded="true"] [data-open="true"],
		&[aria-expanded="false"] [data-open="false"] {
			display: flex;
		}

		svg {
			height: 12px;
			width: auto;
		}
	}

	.tools-list {
		display: none;
		padding: 12px 0 0;
		@include mobile {
			padding: 0 0 8px;
		}

		a, button {
			color: inherit;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			text-decoration: none;
			transition: 150ms ease;
			width: 100%;
			padding: 12px;
			@include mobile {
				padding: 8px;
			}

			&:hover {
				background: $gray-light;

				.tool-description {
					opacity: 1;
					visibility: visible;
				}
			}

			&[aria-pressed="true"] {
				color: $brand;
			}
		}

		button.with-active-icon {
			&[data-active="true"] .icon-inactive, &[data-active="false"] .icon-active {
				display: none;
			}
		}

		.tool-description {
			position: absolute;
			top: 0;
			right: 100%;
			min-height: 100%;
			min-width: 150px;
			width: max-content;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			line-height: 1;
			text-align: right;
			white-space: nowrap;
			padding: 0 16px;
			color: $text-color;
			background-color: $white;
			opacity: 0;
			visibility: hidden;
			@include mobile {
				white-space: initial;
				width: auto;
				padding: 0 12px;
				min-width: 0;
			}
		}

		.icon-container {
			--icon-size: 36px;
			@include mobile {
				--icon-size: 24px;
			}

			svg {
				width: var(--icon-size);
				height: var(--icon-size);

				path {
					fill: currentColor;
				}
			}
		}
	}
}
