.module.big-numbers {
	isolation: isolate;
	
	// remove this (also div in html) if you want full-size background photo
	.relative-wrapper {
		position: relative;
	}
	
	.big-numbers-container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 30px 50px;
		
		.number-component {
			min-width: 140px;
		}
	}
	
	.background-photo {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	&.with-background {
		.container-fluid {
			position: relative;
		}
		
		.big-numbers-container {
			padding: 60px 86px;
			@include laptop-middle {
				padding: 60px;
			}
			@include tablet-middle {
				padding: 45px 50px;
			}
			@include mobile {
				padding: 30px;
			}
		}
	}
	
	&.alignment--stretch {
		.big-numbers-container {
			gap: 20px 30px;
		}
		
		.number-component {
			flex: 1 1 auto;
			max-width: 100%;
			@include tablet-middle {
				max-width: 240px;
			}
			
			.caption {
				flex: 1;
				max-width: fit-content;
			}
		}
	}
	
	&.alignment--left .big-numbers-container {
		justify-content: flex-start;
		@include mobile {
			justify-content: flex-start;
		}
	}
	
	&.alignment--center .big-numbers-container {
		justify-content: center;
		@include mobile {
			justify-content: flex-start;
		}
	}
	
	&.alignment--right .big-numbers-container {
		justify-content: flex-end;
		@include mobile {
			justify-content: flex-start;
		}
	}
}

