.module.quotation {
	.quotation-container {
		position: relative;
		isolation: isolate;
		display: flex;
		justify-content: var(--content-alignment, flex-start);
		@include mobile {
			justify-content: flex-start;
		}
		
		.background-photo {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
		
		.quotation-component {
			&.with-background {
				max-width: 50%;
				padding: 50px;
				@include mobile {
					max-width: 100%;
					padding: 30px;
				}
			}
		}
	}
	
	blockquote {
		& > * {
			color: inherit;
		}
	}
}