---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/scripts/cn';

type Props = HTMLAttributes<'div'>;

const { class: className, ...props } = Astro.props;
---

<div
  {...props}
  class={cn(
    'card',
    'rounded-lg border border-sw-text-disabled bg-white p-6',
    className
  )}
>
  <slot />
</div>
