---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/scripts/cn';

export interface Props extends HTMLAttributes<'div'> {
  size?: 'default' | 'full';
  /** @default true */
  margin?: boolean;
}

const {
  class: className,
  size = 'default',
  margin = true,
  ...props
} = Astro.props;
---

<style>
  :where(.container) {
    --container-max-width: 77.5rem;
    --container-margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: min(
      100% - (2 * var(--container-margin)),
      var(--container-max-width)
    );
  }

  :where(.container-full) {
    --container-max-width: 100%;
    --container-margin: 1rem;
  }

  .container.no-margin {
    --container-margin: 0px;
  }
</style>

<div
  {...props}
  class={cn([
    'container',
    `container-${size}`,
    { 'no-margin': !margin },
    className,
  ])}
>
  <slot />
</div>
