header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	padding: 30px 0;
	@include mobile {
		padding: 15px 0;
	}
	
	.page-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.site-details {
		display: flex;
		align-items: center;
		
		.site-logo {
			display: block;
		}
		
		.site-title {
			line-height: 1.3;
			margin-left: 15px;
		}
	}
	
	.site-tools {
		display: flex;
		align-items: center;
		gap: 0 30px;
	}
	
	.tool-container {
		position: relative;
		@include ie {
			& + .tool-container {
				margin-left: 30px;
			}
		}
		
		svg {
			path {
				fill: currentColor;
			}
		}
	}
	
	.search-container {
		.search-panel {
			$padding: 10px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			transform: translateY(-12px);
			top: calc(100% + #{$padding});
			right: #{-$padding};
			padding: $padding;
			background: $gray-light;
			transition: 250ms ease;
			transition-property: opacity, visibility, transform;

			.search-panel-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 15px;
			}
			
			input.search-input {
				background: none;
				border: none;
				border-bottom: 1px solid transparent;
				outline: none;
				transition: $trans-fast;
				padding: 10px 0;
				width: 300px;
				margin-left: 5px;
				@include mobile {
					width: 230px;
				}
				
				&:focus {
					border-color: $gray;
				}
				
				&::placeholder {
					//color: rgba($white, .5);
				}
				
			}
			
			button.perform-search {
				display: flex;
			}
		}
	}
	
	.language-switcher {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			
			li {
				display: block;
				
				&.active {
					display: none;
				}
				
				a {
					color: currentColor;
					text-decoration: none;
				}
			}
		}
	}
	
	.tool-trigger {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		user-select: none;
		border-radius: 3px;
	}
	
	.font-trigger {
		svg {
			height: 16px;
			width: auto;
		}
		
		html[data-font-size="sm"] & .font-sm,
		html[data-font-size="normal"] & .font-normal,
		html[data-font-size="lg"] & .font-lg {
			fill: $brand
		}
	}
	
	button.search-trigger {
		position: relative;
		
		span {
			display: flex;
			transition: 350ms ease;
			transition-property: visibility, opacity;
			
			&.search-icon-open {
				opacity: 1;
				visibility: visible;
			}
			
			&.search-icon-close {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				visibility: hidden;
				opacity: 0;
			}
		}
		
		&[aria-expanded="true"] {
			span.search-icon-open {
				opacity: 0;
				visibility: hidden;
			}
			
			span.search-icon-close {
				opacity: 1;
				visibility: visible;
			}
			
			& + .search-panel {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
	
	.menu-toggle {
		.icon {
			width: 25px;
			height: 14px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			position: relative;
			
			.icon-inner {
				&, &::before, &::after {
					content: '';
					right: 0;
					width: 100%;
					height: 2px;
					background-color: currentColor;
					position: absolute;
					transition: 250ms ease-in-out;
					@include contrast {
						background-color: $contrast !important;
					}
				}
				
				&::before {
					top: 0;
				}
				
				& {
					position: static;
					width: 70%;
				}
				
				&::after {
					top: 100%;
					transform: translateY(-100%);
				}
			}
		}
		
		&:not(.open):hover {
			.icon-inner {
				width: 100%;
			}
		}
		
		&.open {
			.icon-inner {
				width: 0;
				
				&::before {
					top: 50%;
					transform: translateY(-50%) rotate(-45deg);
				}
				
				&:after {
					top: 50%;
					transform: translateY(-50%) rotate(45deg);
				}
			}
		}
	}
}
